

.clickable {
transition: all 1s ease;
}
.clickable:hover{
  cursor: pointer;
  transform: scale(1.25) translate(-15%, -15%);
  /* color: rgb(0, 0, 0) !important; */
  font-size: 1.1rem;
  background-color: rgb(242, 157, 157) !important;
}

.background {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: 
}